/* Definições gerais da página */
body {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.intro {
    height: 550px; /* Altura da seção de introdução */
}

#design-archives {
    display: none; /* Remove o container #design-archives */
}

/* Incremento no cabeçalho da página */
header {
    background-color: #333; /* Fundo escuro */
    color: #fff; /* Fonte clara */
    padding: 1em;
}

header h1 {
    display: inline-block;
    margin-right: 1em;
}

header p {
    display: inline-block;
    margin-top: 0.5em;
}

/* Incremento nos menus */
.sidebar ul {
    list-style-type: none; /* Remove bullets */
    padding-left: 0;
}

.sidebar li {
    margin-bottom: 1em; /* Espaçamento entre itens do menu */
    text-align: center; /* Centralização dos itens do menu */
    border-top: 1px solid #ccc; /* Borda superior em todos os itens */
}

.sidebar li:last-child {
    border-bottom: 1px solid #ccc; /* Borda inferior apenas no último item */
}

/* Inversão de cores no rodapé */
footer {
    background-color: #333; /* Fundo escuro */
    color: #fff; /* Fonte clara */
    padding: 2em;
    display: flex; /* Flexbox no rodapé */
    justify-content: center; /* Centraliza os itens */
}

footer a {
    display: inline-block;
    border: 2px solid #fff; /* Borda sólida */
    padding: 0.5em; /* Espaçamento interno */
    margin: 0 0.5em; /* Espaçamento entre os links */
    text-align: center; /* Centraliza o texto */
    width: 120px; /* Mesmo tamanho para os links */
    color: #f39c12; /* Cor de destaque padrão */
    font-weight: bold; /* Negrito por padrão */
    text-decoration: none; /* Remove sublinhado */
}

footer a:hover {
    color: #ffc04d; /* Tonalidade mais clara ao sobrepor */
}

footer a:visited {
    font-weight: normal; /* Links visitados não estão em negrito */
}

/* Destaque na primeira letra do primeiro parágrafo da seção principal */
.main p:first-of-type:first-letter {
    float: left; /* Flutua à esquerda */
    font-size: 300%; /* Tamanho 3 vezes maior que o padrão */
    font-family: Georgia, serif; /* Fonte diferente */
    margin-right: 0.2em; /* Espaçamento à direita */
}
