/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5; /* Cor de fundo principal */
    color: #333; /* Cor do texto */
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o cabeçalho */
#apresentacao {
    background-color: #ffffff; /* Cor de fundo */
    padding: 40px;
    text-align: center;
}

#apresentacao img {
    max-width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

#apresentacao p {
    margin: 10px 0;
}

/* Estilos para seções */
section {
    margin-bottom: 40px;
}

section h2 {
    font-family: 'Arial', sans-serif; /* Fonte para títulos */
    font-size: 2rem;
    color: #333; /* Cor do título */
    margin-bottom: 10px;
}

section .item {
    margin-bottom: 20px;
}

section .item h3 {
    font-weight: bold; /* Destaque em negrito para nome do curso */
    color: #1f295c; /* Cor de destaque */
}

section .item p {
    margin-bottom: 5px;
}

section ul {
    list-style-type: none;
}

/* Estilos para o rodapé */
footer {
    background-color: #1f295c; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto do rodapé */
    padding: 20px 0;
    text-align: center;
}

footer ul {
    margin-bottom: 10px;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    color: #ffffff; /* Cor dos links do rodapé */
    text-decoration: none;
    border: 1px solid #ffffff; /* Borda dos links */
    padding: 5px 10px;
    transition: all 0.3s ease;
}

footer a:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
    color: #1f295c; /* Cor do texto ao passar o mouse */
}
